# Dependency directories
node_modules/

# WhatsApp Web.js authentication files
.wwebjs_auth/
.wwebjs_cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE/editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
